{% extends 'base.html.twig' %}

{% block title %}Inventories{% endblock %}

{% block body %}
    <h1 class="mb-4">Inventories</h1>

    <table class="table table-striped table-bordered bg-white">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Category</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.id }}</td>
                <td>
                    <a href="{{ path('inventories_show', {id: inventory.id}) }}">
                        {{ inventory.title }}
                    </a>
                </td>
                <td>{{ inventory.category }}</td>
                <td>{{ inventory.owner.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center text-muted">
                    No inventories found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
